.app {
  height: 100%;
}
.el-header {
  background-color: rgba(65, 118, 155,1);
  color: #fff;
  text-align: center;
  line-height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.el-footer {
  background-color: #b3c0d1;
  color: #333;
  display: flex;
  align-items: flex-end;
}

.el-aside {
  background-color: #d3dce6;
  color: #333;
  text-align: center;
  line-height: 200px;
}

.el-main {
  background-color: #e9eef3;
  color: #333;
  text-align: center;
  line-height: 160px;
}

body > .el-container {
  margin-bottom: 40px;
}

.app .HeaderBox {
    height: 100%;
}

.app .midBox {
  height: 100%;
  /* background-color: #46a8ee; */
}

.app .asideBox {
  height: 100%;
  overflow: hidden;
}
.app .asideBox .myaside {
  background-color: #263238;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
.menu-wrapper{
 	overflow: hidden !important;
 }

 .app .sysName {
 width: 180px;
 font-size: 20px;
 font-weight: 900;
 position: absolute;
 left: 0px;
 }
.app .headerimg{
    background-color: rgb(0, 140, 255);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: absolute;
    right: 110px;
    line-height: 45px;
    font-size: larger;
    margin-right: 20px;
}
.app .userNameBox {
    height: 100%;
    position: absolute;
    right: 40px;
    font-size: 19px;
    font-weight: 500;
    color: #fff;
}